
[data-testid="status-header"],
[data-testid="status-list-drawer"],
[data-testid="newsletter-drawer"],
[data-testid="community-drawer"]
{
    background-image: var(--p5-icon-img2);
}


[data-testid="newsletter-drawer"] header,
[data-testid="status-drawer"] header,
[data-testid="calls-drawer"] header,
[data-testid="community-drawer"] header{
    background: #0d0c0b;
}

div > [data-testid="status-header"],
[data-testid="newsletter-recommended-unit"]
{
    background-image: var(--p5-icon-imgBGW);
}

[data-testid="no-filtered-chats-container"] > div{
    background-image: var(--p5-icon-imgBGW);
}