/* ====================
   Pantalla principal
   ==================== */

/* Fondo */
[data-testid="intro-panel"]{
    background-color: #0d0c0b !important;
}

/* Contenedor informacion */
[data-testid="intro_panel_v2_title_card"],
[data-testid="intro-panel-empty-state-action-tile-group"]{
    background-image: var(--p5-icon-imgBGW);
}

[data-testid="intro_panel_v2_title_card"]{
    border-radius: 0 !important;
    clip-path: polygon(
        10% 0%,
        100% 0%,
        90% 100%,
        0% 100%
    ) !important;
}

[data-testid="intro_panel_v2_title_card"] h2,
[data-testid="intro_panel_v2_title_card"] h2 span,
[data-testid="intro_panel_v2_title_card"] h2 ~ * span {
    color: #ffffff !important;
}

/* Boton */

[data-testid="intro_panel_v2_title_card"] button {
    background-color: #ffffff !important;
    color: #000000 !important;
    border-radius: 0 !important;
    clip-path: polygon(
        0% 0%,
        90% 0%,
        100% 100%,
        10% 100%
    ) !important;
}

[data-testid="intro_panel_v2_title_card"] button span,
[data-testid="intro_panel_v2_title_card"] button div {
    color: #000000 !important;
}

/* --------------------
   Botones inferiores
   --------------------  */

[data-testid="intro-panel"] > div:nth-child(2) button,
[data-testid="intro-panel"] > div:nth-child(2) [role="button"] {
    background-color: #ffffff !important;
    border-radius: 0 !important;
    clip-path: polygon(
        10% 0%,
        100% 0%,
        90% 100%,
        0% 100%
    ) !important;
}

/* Icono en negro */
[data-testid="intro-panel"] > div:nth-child(2) button svg,
[data-testid="intro-panel"] > div:nth-child(2) button svg path {
    fill: #000000 !important;
    color: #000000 !important;
}

/* Texto en negro*/
[data-testid="intro-panel"] > div:nth-child(2) span,
[data-testid="intro-panel"] > div:nth-child(2) div {
    color: #000000 !important;
}

[data-testid="intro-panel-empty-state-action-tile-group"] {
    padding: 20px;
    clip-path: polygon(
        5% 0%,
        100% 0%,
        95% 100%,
        0% 100%
    ) !important;
}